{% extends 'layout.html' %}
{% block body %}
{% include "header.html" %}
{% if lang == "en" %}
<li><a class="getstarted scrollto" href="{% url 'azdetail' post.key %}">Aze</a></li> 
{% endif %}
{% if lang == "az" %}
<li><a class="getstarted scrollto" href="{% url 'endetail' post.key %}">Eng</a></li> 
{% endif %}
{% include "headeralt.html" %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6">
          <div class="swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="animated animatedFadeInUp fadeInUp">
                <img class="img-fluid" src="{{post.image.url}}" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
<div class="col-lg-6">
  <div class="portfolio-info">
    <h3>{{post.title}}</h3>
    <ul>
      {{post.content|safe}}
    </ul>
  </div>
  
</div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

  

 {% include "footer.html" %}
  {% endblock body %}
