
{% extends 'layout.html' %}
{% block body %}
  
{% include "header.html" %}
{% if lang == "en" %}
<li><a class="getstarted scrollto" href="{% url 'azservicecategory' cat.key %}">Aze</a></li> 
{% endif %}
{% if lang == "az" %}
<li><a class="getstarted scrollto" href="{% url 'enservicecategory' cat.key %}">Eng</a></li> 
{% endif %}
{% include "headeralt.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="row">
          {% for post in services_posts %}
          {% if lang == "az" %}  
          <div class="col-lg-3">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-12">
                <a href="{% url 'azservicedetail' post.key %}" class="own"> <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-12">
                  <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content|safe|truncatechars:30}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% if lang == "en" %}  
          <div class="col-lg-3">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-12">
                <a href="{% url 'enservicedetail' post.key %}" class="own"> <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="..."></a>
                </div>
                <div class="col-md-12">
                  <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content|safe|truncatechars:30}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}


        </div>
        <nav aria-label="Page navigation example justify-content-center text-center align-items-center">
          <ul class="pagination justify-content-center text-center align-items-center">
            {% if services_posts.has_pervios %}
            <li class="page-item"><a class="page-link" href="?page={{posts.pervious_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{services_posts.number}}</a></li>
            {% if services_posts.has_next %}
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </section>

  </main><!-- End #main -->
  {% include "footer.html" %}

  {% endblock body %}